client/.DS_STORE
client/node_modules
client/scripts/flow/*/.flowconfig
client/*~
client/*.pyc
client/.grunt
client/_SpecRunner.html
client/__benchmarks__
client/build/
client/remote-repo/
client/coverage/
client/.module-cache
client/fixtures/dom/public/react-dom.js
client/fixtures/dom/public/react.js
client/test/the-files-to-test.generated.js
client/*.log*
client/chrome-user-data
client/*.sublime-project
client/*.sublime-workspace
client/.idea
client/*.iml
client/.vscode
client/*.swp
client/*.swo

server/node_modules
server/build
server/npm-debug.log
server/.env
server/.DS_Store
