$unit-spacing: 8px;

.header {
  background-color: #FFE600;
  padding: $unit-spacing 0;

  &__logo {
    height: $unit-spacing * 4;
    margin-right: $unit-spacing * 3;

    img {
      display: block;
      height: 100%;
    }
  }

  &__search-form {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}
